.menu {
    background-color: white;
    box-shadow: 0px 2px 24px 0px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    width: 1000px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0 40px;
    position: relative;
}


.menu_list {
    list-style-type: none;
    padding: 0;
    height: 100%;
}

.menu_list_item {
    display: inline-block;
    height: 100%;
    margin-right: 50px;
}

.menu_list_item:last-child {
    margin-right: 0;
}

.menu_link {
    color: #3a3e47;
    display: inline-block;
    height: 100%;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
}

.menu_link:hover {
    color: #ffaa3b;
}

.menu_link_active {
    color: #ffaa3b;
    border-top: 4px solid #ffaa3b;
    font-weight: 700;
}

.menu_logo {
    text-indent: -9999999px;
    display: inline-block;
    height: 100%;
    width: 150px;
    background-size: 200% 70%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

.menu_button {
    height: 60px;
    width: 60px;
    border : 0;
    outline: 0;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
}


.menu_search_form {
    position: absolute;
    top: 100%;
    right: 0;
    padding: 10px;
    background-color: white;
}

.menu_search_input {
    outline: none;
    border: 1px solid #c8c9ce;
    font-size: 18px;
    padding: 5px;
    font-weight: 300;
}

.img_banner {
  width : 330px;
  height : 250px;
  margin-right : 0px;
  margin-left : 180px;
}

.img_container {
  position: relative;
  float: left;
  width: 29%;
}

.img_title {
  position: absolute;
  text-align: center;
  left : 300px;
  top : 100px;
  color: white;
  font-size: 20px;
}



.img_container:hover .img_title, .img_container:hover .img_banner {
  color : black;
  opacity: 0.3;
}
