ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border : 0;
  width : 300px;
  display: inline-block;
  margin-left: 20px;
  outline : 1px dotted blue;
  float : left;
}


li a {
  display: block;
  text-decoration: none;
  list-style-type: none;
  color : black;
  padding: 8px 16px;
  outline : 1px dotted red;
}

li :hover {
  color : white;
}
